VITE_SUPABASE_URL=https://wiatfedcmfennlwzgigt.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_K7Etc8uMk48gyuaCDSSC-A_LA7ptahF
VITE_SUPABASE_ANON_KEY=sb_publishable_K7Etc8uMk48gyuaCDSSC-A_LA7ptahF
